body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* THis is nvbr is the computer*/

header div.container{
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div.container div.logo{
    display: flex;
    text-decoration: none;
    align-items: center;
    margin: 0 20px;
}
header div.container div.logo a{
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-family: "Poppins", serif;
    font-weight: 700;
}
/* hamburger menu */

header svg{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 45px;
}
/* menu section */
header div.container nav{
    position: fixed;
    padding: 0;
    right: -100%;
    width: 300px;
    top: 0;
    margin: 0;
    padding: 55px 0 0 0;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
}
header div.container nav ul{
    padding: 0;
    right: 0;
    width: 300px;
    margin: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: "Work Sans", serif;
}
header div.container nav ul li{
    padding: 10px;
    margin: 0;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
header div.container nav ul li:hover a{
    color: #0083BB;
}
header div.container nav ul li:before{
    content: "";
    position: absolute;
    inset: calc(100%  -  3px) 0 0 0;
    background: #0083BB;
    scale: 0 1;
    transition: 0.3s, translate 0s 0.3s;
}
header div.container nav ul:hover li:before{
    scale: 1;
}
header div.container nav ul li:hover:before{
    translate: 0;
    transition: 0.3s;
}
header div.container nav ul:hover li:has(~li:hover):before{
    translate: 100% 0;
    transition: 0.2s 0.2s, scale 0s 0.4s;
}
header div.container nav ul:hover li:hover ~ li:before{
    translate: -100% 0;
    transition: 0.2s 0.2s, scale 0s 0.4s;
}


header div.container nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 0.9em;
}
/* Hero section */
section.hero {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 90%;
    height: 225px;
    margin-left: 5%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

section.hero div.hero-content {
    flex: 0 0 78vw;
    scroll-snap-align: start;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    font-family: "Poppins", serif;
    font-size: large;
}
section.hero div.hero-content img{
    display: none;
}
section.hero div.hero-content#hero-order{
    margin-right: 10px;
}
div.hero-content#hero-order h2{
    font-size: 22px;
    margin: 0%;
}
div.hero-content#hero-order button{
    padding: 10px 20px;
    background-color: #0083BB;
    color: #fff;
    width: 250px;
    height: 50px;
    border-radius: 28px;
    border: none;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 16px;
}
section.hero div.hero-content#hero-id{
    background-color: #0083BB;
}
/* Hide scrollbar for Chrome, Safari, and Opera */
section.hero div.hero-content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
section.hero div.hero-content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

div.toggle-change{
    display: flex;
    justify-content: center;
    height: 20px;
}
div.toggle-change span{
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color:#F0F0F0 ;
    margin: 5px;
}
div.toggle-change span#blue{
    background-color: #0083BB;
}

 /* Products Menu Section */
 section.products-menu{
    width: 90%;
    margin-left: 5%;
 }
 section.products-menu h2{
    width: 100%;
    font-family: "Poppins", serif;
    font-size: large;
    margin-top: 30px;
 }
 section.products-menu h3{
    width: 100%;
    font-family: "Work Sans", serif;
    font-size: medium;
 }
 section.products-menu div.icon-menu-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px 0;
    border-bottom: 1px solid #F0F0F0;
 }
section.products-menu div.icon-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 div.icon-menu-container div.icon-menu-img{
    width: 56px;
    height: 56px;
    border: solid 2px #AEAEB2;
    border-radius: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
 }
 div.icon-menu-container div.icon-menu-img img{
    width: 80%;
 }
/* Products Section */
section.products{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    flex-wrap: wrap;
}
section.products h2{
    width: 100%;
    font-family: "Poppins", serif;
    font-size: large;
    margin-top: 30px;
 }

/* Assets */