@media (min-width: 768px) {
    /* Desktop layout for navbar */
    header div.container {
        position: sticky;
        background-color: #fff;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        width: 100%;
    }

    header div.container div.logo a{
        font-size: 24px;
        margin: 0 20px;
    }

    /* Remove hamburger menu for desktop */
    header svg {
        display: none;
    }

    /* Menu section for desktop */
    header div.container nav.menu {
        position: relative;
        right: 0;
        padding: 0;
        margin: 0;
        width: 500px;
        height: auto;
        background-color: transparent;
    }

    header div.container nav ul {
        padding: 0;
        width: max-content;
        margin: 0;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header div.container nav ul li {
        padding: 0 15px;
        margin: 0;
    }

    header div.container nav ul li a {
        text-decoration: none;
        color: #000;
        font-size: 1em;
    }

    /* Hero Section */
    section.hero {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 0 40px;
        flex: 0;
        height: max-content;
        margin: 0;
        box-sizing: border-box;
        overflow: hidden;
    }
    
    section.hero div.hero-content {
        flex-basis: auto;
        height: 395px;
        margin: 0;
    }
    section.hero div.hero-content img{
        display: block;
        width: 80%;
    }
    section.hero div.hero-content#hero-order{
        width: 282px;
        margin: 0 0 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    section.hero div.hero-content#hero-id {
        flex-grow: 1;
        max-width: 1000px;
    }
    div.hero-content#hero-order h2{
        font-size: 22px;
        margin: 0%;
    }
    section.hero div.hero-content#hero-id{
        background-color: #0083BB;
    }
    div.toggle-change{
        display: none
    }
    
    /* Products Menu Section */
    section.products-menu{
        width: 90%;
        margin-left: 5%;
    }
    section.products-menu h2{
        font-size: large;
     }
     section.products-menu h3{
        font-size: medium;
     }
    section.products-menu div.icon-menu{
        width: 225px;
        height: 100px;
        border: solid 3px #AEAEB2;
        border-radius: 16px;
        overflow: hidden;
        flex-direction: row;
        cursor: pointer;
     }
    div.icon-menu-container div.icon-menu-img{
        width: fit-content;
        height: 95px;
        border: none;
        border-radius: 0;
        overflow:visible;
     }
     /* The products Section */
     div.product{
        width: 225px;
        height: 300px;
    }
    div.product-container div.product-img{
        width: 100%;
        height: 176px; 
    }
    div.product-container div.product-img img{
        height: 80%;
        width: max-content;
    }
    div.product-container div.product-specs div.specs{
        display: flex;
        width: 85%;
    }
    div.product-container div.product-specs{
        height: 115px;
    }
    div.product-container div.product-specs h3{
        font-size: large;
    }
    div.product-container div.product-specs div.spec p{
        font-size: 13px;
    }div.product-container div.price-action{
        width: 85%;
        display: flex;
        justify-content: space-between;
    }
}