@media (min-width: 768px) {
    /* Desktop layout for navbar */
    header div.container {
        position: sticky;
        background-color: #fff;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        width: 100%;
    }

    header div.container div.logo a{
        font-size: 24px;
        margin: 0 20px;
    }

    /* Remove hamburger menu for desktop */
    header svg {
        display: none;
    }

    /* Menu section for desktop */
    header div.container nav.menu {
        position: relative;
        right: 0;
        padding: 0;
        margin: 0;
        width: 500px;
        height: auto;
        background-color: transparent;
    }

    header div.container nav ul {
        padding: 0;
        width: max-content;
        margin: 0;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header div.container nav ul li {
        padding: 0 15px;
        margin: 0;
    }

    header div.container nav ul li a {
        text-decoration: none;
        color: #000;
        font-size: 1em;
    }

    /* Hero Section */
    section.hero {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 0 40px;
        flex: 0;
        height: max-content;
        margin: 0;
        box-sizing: border-box;
    }
    
    section.hero div.hero-content {
        flex-basis: auto;
        height: 395px;
        margin: 0;
    }
    section.hero div.hero-content img{
        display: block;
        width: 80%;
    }
    section.hero div.hero-content#hero-order{
        width: 282px;
        margin: 0 0 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    section.hero div.hero-content#hero-id {
        flex-grow: 1;
        max-width: 1000px;
    }
    div.hero-content#hero-order h2{
        font-size: 22px;
        margin: 0%;
    }
    section.hero div.hero-content#hero-id{
        background-color: #0083BB;
    }

    div.toggle-change{
        display: none
    }
}