body{
    margin: 0;
    padding: 0;
    background-color: hsl(32, 51%, 95%);

}


/* THis is nvbr is the computer*/

header div.container{
    background-color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header div.container div.logo{
    display: flex;
    text-decoration: none;
    align-items: center;
}
header div.container div.logo a{
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-family: "Poppins", serif;
    font-weight: 700;
}
/* hamburger menu */

header svg{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 45px;
}
/* menu section */
header div.container nav{
    position: fixed;
    padding: 0;
    right: -100%;
    width: 300px;
    top: 0;
    margin: 0;
    padding: 55px 0 0 0;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
}
header div.container nav ul{
    padding: 0;
    right: 0;
    width: 300px;
    margin: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-family: "Work Sans", serif;
}
header div.container nav ul li{
    padding: 10px;
    margin: 0;
}
header div.container nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 0.9em;
}

/* Assets */